frontend/.DS_Store
frontend/lernzeit-manager/package-lock.json
backend/.DS_Store
backend/package-lock.json
.DS_Store
.DS_Store
backend/prisma/migrations/20260604151959_init/migration.sql
backend/prisma/migrations/migration_lock.toml
frontend/package-lock.json
.DS_Store
.DS_Store
